<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27304237920-je078vjvskjct5tgub4neeaith6crc7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27304237920-je078vjvskjct5tgub4neeaith6crc7h</string>
	<key>API_KEY</key>
	<string>AIzaSyD25jpBNaGYxb3jEEL_e5b-ZYYUynzMMDE</string>
	<key>GCM_SENDER_ID</key>
	<string>27304237920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocCourse</string>
	<key>PROJECT_ID</key>
	<string>bloccourse-5-chap</string>
	<key>STORAGE_BUCKET</key>
	<string>bloccourse-5-chap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27304237920:ios:0aabfeeeccfabc2fe65c05</string>
</dict>
</plist>